.container
  %br
  .row{:style=>'background:#fff;opacity:0.9;'}
    .large-6.columns
      .post{:style=>'padding-right: 10px;'}
        %h3= @post.title
        %div{:style=>'padding-bottom: 15px;'}= @post.message
        %div= "Posted on #{@post.created_at.to_datetime.strftime('%A, %B %d %Y')}"
        %h4 New Comment:
        = form_for @comment do |f|
          = f.text_area       :text
          = hidden_field_tag  "comment[post_id]", @post.id
          = hidden_field_tag  "comment[student_id]", @student.id
          = f.submit          :save
    .large-6.columns
      %h4 Comments:
      #comments
      - @post.comments.each do |comment|
        .comment
          .comment_text= comment.text
          %div= "Posted by #{comment.student.name} on #{comment.created_at.to_datetime.strftime('%A, %B %d %Y')}"


