.page
  .row
    .large-3.columns
      %div{:style=>'border:1px solid black;'}
        %h4 Calendar
      %div{:style=>'border:1px solid black;'}
        %h4 My Schedule
    .large-6.columns
      %div{:style=>'border:1px solid black;'}
        %h4 Discussion Questions
    .large-3.columns
      %div{:style=>'border:1px solid black;'}
        %h4 My Notes
      %div{:style=>'border:1px solid black;'}
        %h4 My Grades




/ .container
/   %br
/   .row{:style=>'background:#fff;'}
/     .large-12.columns
/       %h3= "Welcome, #{@student.first_name} #{@student.last_name}"
/   .row.full{:style=>'background:#fff;'}
/     .large-3.columns
/       %h4 My Courses
/       - @student.klasses.each do |klass|
/         .course_name= link_to klass.course.name, klass.course
/     .large-9.columns
/       %h4 Course Posts
/       - @student.klasses.each_with_index do |klass, k|
/         .course
/           %h4= klass.course.name
/           - klass.posts.each_with_index do |post, p|
/             .post
/               %h5= post.title
/               %div= post.message
/               #comments
/                 - post.comments.each do |comment|
/                   .comment
/                     .comment_text= comment.text
/                     .timestamp= "Posted by #{comment.student.name} on #{comment.created_at.to_datetime.strftime('%A, %B %d %Y')}"
/                     - if @auth.id == comment.student.id
/                       =link_to 'Edit', edit_comment_path(comment), :remote=>true, :class=>'button radius tiny', :id=>"edit_comment_btn_#{comment.id}"
/                       =link_to 'Delete', comment, :method=>'delete', :class=>'button radius tiny alert'

/                 = form_tag new_comment_path, :method=>'get', :remote=>true do
/                   = hidden_field_tag "post_id", post.id
/                   = hidden_field_tag "student_id", @student.id
/                   = hidden_field_tag 'kp', "#{k.to_s+p.to_s}"
/                   = button_to "New Comment", new_comment_path, :class=>'button radius tiny new_comment_btn', :id=>"new_comment_btn_#{k.to_s+p.to_s}", :value=>post.id, :remote=>true
