.container
  %br
  .row{:style=>'background:#fff;'}
    .large-12.columns
      %h3= "Welcome, #{@student.first_name} #{@student.last_name}"
  .row{:style=>'background:#fff;'}
    .large-3.columns
      %h4 My Courses
      - @student.klasses.each do |klass|
        .course_name= link_to klass.course.name, klass.course
    .large-9.columns
      %h4 Course Posts
      - @student.klasses.each do |klass|
        .course
          %h5= klass.course.name
          - klass.posts.each do |post|
            .post= post.title
            - post.comments.each do |comment|
              .comment
                %div= comment.text
                %div= "Posted by #{comment.student.name} on #{comment.created_at}"
                - if @auth.id == comment.student.id
                  =link_to 'Edit', edit_comment_path(comment), :class=>'button radius tiny'
                  =link_to 'Delete', comment, :method=>'delete', :class=>'button radius tiny alert', :confirm=>'Are you sure?'

            = form_tag new_comment_path, :method=>'get' do
              = hidden_field_tag "post_id", post.id
              = hidden_field_tag "student_id", @student.id
              = button_to "New Comment", new_comment_path, :class=>'button radius tiny'

