- @student.klasses.each do |klass|
  - klass.posts.each do |post|
    %div= post.title
    %div= "Posted for #{klass.course.name} on #{format_date(post.created_at)}"
    %div= post.message
    %div= "#{post.comments.count} comments"
    %br
    %div There are no posts for this course.