.container
%br
.row{:style=>'background: #fff;opacity:0.9;'}
  .large-5.columns
    - if @auth.nil?
      %h3= New Student Registration
    - else
      %h3 Edit Account Settings
    = form_for @student do |f|
      = f.label           :username
      = f.text_field      :username
      = f.label           :first_name
      = f.text_field      :first_name
      = f.label           :last_name
      = f.text_field      :last_name
      = f.label           :email
      = f.text_field      :email
      = f.label           :password
      = f.password_field  :password
      = f.label           :password_confirmation
      = f.password_field  :password_confirmation
      = f.submit
      = link_to "Cancel", root_path, :class=>'button radius tiny alert'
  .large-7.columns
    - if @auth.present? && @auth.is_a?(Student)
      %h4 My Courses
      - @auth.klasses.each do |klass|
        %h6= link_to klass.course.name, klass.course
        %p=  "Period #{klass.period}"
