- @auth.klasses.each_with_index do |klass, i|
  %h6= "#{klass.course.name}, Period #{klass.period}"
  - klass.posts.order(:created_at).reverse.each do |post|
    .post
      .title= post.title
      .tagline= "Posted for #{klass.course.name} on #{format_date(post.created_at)}"
      .message= post.message
      .comments_count
        = pluralize(post.comments.count, 'comment')
        %span.comments_links{:id=>"post_comments_#{post.id}",:style=>"color:blue;cursor:pointer;display:inline-block;"}= "View Comments"
      .comments{:id=>post.id}
        - post.comments.each do |comment|
          .comment
            = comment.text
            .tagline= "Posted by #{comment.student.name} on #{format_date(comment.created_at)}"
      %br
  - if klass.posts.empty?
    .noposts There are no posts for this course.
    %br