- @auth.klasses.each do |klass|
  %h6= "#{klass.course.name}, Period #{klass.period}"
  = link_to "New Post", new_post_path, :class=>'button radius tiny success'
  - klass.posts.each do |post|
    .post
      .title= post.title
      .tagline= "Posted for #{klass.course.name} on #{post.postdate}"
      .message= post.message
      .comments_count
        = pluralize(post.comments.count, 'comment')
        %span.comments_links{:id=>"post_comments_#{post.id}",:style=>"color:blue;cursor:pointer;display:inline-block;"}= "View Comments"
      .comments{:id=>post.id}
        - post.comments.each do |comment|
          .comment
            = comment.text
            .tagline= "Posted by #{comment.student.name} on #{comment.created_at}"

      %br