.calendar
  %h6#month
    = link_to "<", date: @date.prev_month, :remote=>true
    %span.month= @date.strftime('%B %Y')
    = link_to ">", date: @date.next_month, :remote=>true
  = calendar @date do |date|
    / = date.day
    - assignments = []
    - if @assignments_by_date[date]
      = link_to(date.day, "#", :title=>assignments.map(&:name).join(', '), :id=>"#{date}", :class=>'has_assignments date')
      .assignments
        = link_to('X', '#', :class=>'cancel_link')
        - @assignments_by_date[date].each_with_index do |assignment, i|
          %div{:id=>"assignment_#{i}", :class=>'assignment', :title=>"Due on #{assignment.duedate}"}
            .name= assignment.name
            .description= assignment.description
            .duedate= "Due #{assignment.duedate}"
            .value= "Worth #{assignment.value}"
          - assignments << assignment
    - else
      = date.day
