.page
  .row
    .large-12.columns
      %h3= "Hello, #{@auth.name}"
  .row
    .large-3.columns.borders-left-col
      %div
        / Calendar
        = render :partial=>'calendar'
      %div
        / My Schedule
        = render :partial=>'schedule'
    .large-6.columns.borders-middle-col
      %div
        %h5 Discussion Questions
        #posts
          = render :partial=>'shared/posts'
    .large-3.columns.borders-right-col
      %div
      %h6 My Notes
      .notes
        = render :partial => 'notes/new'
      %div.droppable
        %h6 Upcoming Events
      = render :partial => 'grades'