%br
.page
  .row.content
    .large-3.columns.borders-left-col
      %div
        = render :partial=>'calendar'
      %div
        %h5 My Schedule
        %ul
          - @auth.klasses.order(:period).each do |klass|
            %li
              = klass.course.name
              = "Period #{klass.period}"
    .large-6.columns.borders-middle-col
      %div
        %h6 Discussion Questions
        = render :partial=>'shared/posts'
    .large-3.columns.borders-right-col
      %div
      %h6 My Notes
      %div.droppable
        %h6 Upcoming Events
      - if @auth.is_a?(Student)
        %div
          %h6 My Grades