.page
  .row
    .large-3.columns
      %div
        = render :partial=>'calendar'
      %div
        %h4 My Schedule
        %ul
          - @auth.klasses.order(:period).each do |klass|
            %li
              = klass.course.name
              = "Period #{klass.period}"
    .large-6.columns
      %div
        %h4 Discussion Questions
        = render :partial=>'shared/posts'
    .large-3.columns
      %div
        %h4 My Notes
      %div.droppable
        %h4 Upcoming Events
      - if @auth.is_a?(Student)
        %div
          %h4 My Grades