.post_form.post
  = form_tag posts_path, :remote=>true do
    = label_tag       :title
    = text_field_tag  "post[title]", nil
    = label_tag       :message
    = text_area_tag  "post[message]", nil
    = hidden_field_tag "post[teacher_id]", @auth.id
    - @auth.courses.each do |course|
      - course.klasses.each do |klass|
        %div
          = check_box_tag "post[klass_ids][]", klass.id
          = "#{course.name} Period #{klass.period}"
    = submit_tag "Create Post", :method=>'post', :remote=>true, :class=>'button success tiny'
    = link_to("Cancel", nil, :class=>'button tiny alert', :id=>'post_form_cancel_btn')