<!DOCTYPE html>
<html>
<head>
  <title>Schoolbox</title>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial=>'layouts/nav' %>
<div class='container'>
  <br/>
  <div class='row'>
    <div class='12-large columns content'>
      <%= render :partial=>'layouts/body' %>
      <%= render :partial=>'layouts/footer' %>
    </div>
  </div>
</div>
</body>
</html>
