.container
%br
%h4= "Student Roster for #{@klass.course.name}"
%h5= "Period #{@klass.period}"
- if @auth.is_a?(Teacher)
  %h5= "Current Class Average: #{@klass.total_average}"
  %table
    = render :partial => 'klasses/klass_table_header',    :locals => {:klass => @klass}
    = render :partial => 'klasses/klass_student_roster',  :locals => {:klass => @klass}
- else
  %table
    = render :partial => 'klasses/klass_table_header',    :locals => {:klass => @klass}
