.container
%br
%h4= "Student Roster for #{@klass.course.name}"
%h5= "Period #{@klass.period}"
%h5= "Current Class Average: #{@klass.total_average}"
%table
  %tr
    %td First Name
    %td Last Name
    %td Average
    - @klass.assignments.each do |assignment|
      %td= link_to assignment.name, assignment
  - @klass.students.each do |student|
    %tr
      %td= link_to student.first_name, student
      %td= link_to student.last_name, student
      %td= student.klass_average(@klass)
      - student.grades.each do |grade|
        - if grade.assignment.klasses.include?(@klass)
          %td= "#{grade.value} / #{grade.assignment.value}"
