%script
  $('body').css('background','#fff');
.container
  .row
    %h4= "Student Roster for #{@klass.course.name}"
    %h5= "Period #{@klass.period}"
  .row
    .large-12.columns
      %table
        %tr
          %td First Name
          %td Last Name
          %td Gender
          %td Address
          %td Email
        - @klass.students.each do |student|
          %tr
            %td= student.first_name
            %td= student.last_name
            %td= student.gender
            %td= student.address
            %td= student.email
